/* Fonts */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #0095b1;
}

/* Title Font */
h1 {
    font-family: 'Cinzel', serif;
    font-size: 50pt;
    margin: 0;
}

/* Header */
header {
    background-color: #d6d3cd;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Navigation*/
.main-nav {
    background-color: #004aad;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

/* Sale Section Box */
.sale-box {
    border: 3px solid #7a4a2e;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #d03d3d;
}

/* Sale Items */
.sale-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.sale-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}

/* Footer (one line links) */
footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
