body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #0095b1;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 50pt;
    margin: 0;
}

header {
    background-color: #d6d3cd;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-nav {
    background-color: #004aad;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.sale-box {
    border: 3px solid #7a4a2e;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #d03d3d;
}

.sale-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.sale-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}

.error-field {
    border: 2px solid red !important;
    color: red !important;
}

footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 15px;
}

.signup-container {
    max-width: 550px;
    margin: 80px auto;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.signup-box h2 {
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

.btn-signup {
    background-color: black;
    color: white;
    border-radius: 0;
    padding: 10px;
    transition: 0.3s ease;
}

.btn-signup:hover {
    background-color: #333;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Samir */
#jsonOutput {
    margin-top: 20px;
    background: #111;
    color: #00ff00;
    padding: 15px;
    border-radius: 8px;
    white-space: pre-wrap;
}
